/* general styles */

html,
body{
margin: 0;
font-size: 18 px;
font-family: helvetica;
}

/* media styles */

.alt-nav{
  display: none;
}
.site-container-med{
  display: none;
}
.site-container-small{
  display: none;
}
.logo-banner-small{
  display: none;
}
.banner-container-small{
  display: none;
}
.copyright-small h4{
  display: none;
}
.location-hours-small{
  display: none;
}
/* media styles tables portrait */

@media screen and (max-width: 1024px) and (orientation:portrait){
.alt-nav{
  padding-left: 50%;
  color: white;
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}
.prime-nav{
  display: none;
}
.site-container-large{
  display: none;
}
.site-container-med{
  width: 960px;
  margin: auto;
  display: block;
}
.product-med{
  width: 100%;
  height: 15rem;
  margin-bottom: 0;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-med h5{
  width:100%;
  font-style: helvetica;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pen-med{
  width: 47%;
  border: solid 4px;
  display: block;
}
.pen-med img{
  width:auto;
  height:9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
}
.watch-med{
  width: 47%;
  border: solid 4px;
  display: block;
}
.watch-med img{
  width: auto;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
}
}

/* media styles smartphones */

@media screen and (max-width: 470px){
.alt-nav{
    padding-left: 50%;
    color: white;
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;
    display: block;
  }
.prime-nav{
    display: none;
  }
.site-container-small{
  display: block;
  margin: auto;
  width: 460px;
}
.site-container-large{
    display: none;
  }
.site-container-med{
    display:none;
  }
.site-container .location-hours{
  display: none;
}
.logo-banner{
    display:none;
  }
.banner-title{
  display: none;
}
.copyright{
  display: none;
}
.location-hours{
  display: none;
}
.location{
  display: none;
}
.hours{
  display: none;
}
.logo-banner-small{
    display: block;
    margin: auto;
    width: 470px;
    background-color: black;
  }
.logo-title-small{
    width:100%;
    display: inline-flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
  }
.logo-small{
  width: auto;
  display: flex;
  align-self: center;
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}
.page-title-small h4{
    font-size: 1rem;
    font-family: helvetica;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
  }
.product-small{
    width: 100%;
    height: 15rem;
    margin-bottom: 0;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.product-small h5{
    width:100%;
    font-style: helvetica;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
.pen-small{
    width: 90%;
    border: solid 4px;
    display: block;
  }
.pen-small img{
    width:auto;
    height:9rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: block;
    margin: 0 auto;
  }
.copyright-small h4{
  display: block;
  text-align: center;
}
.location-hours-small{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.location-small{
  width: 90%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.location-hours-small h5{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.hours-small{
  width: 90%;
  margin-top: .05rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.location-hours-small p{
margin-top: 0;
padding-bottom: 0;
}
}

/* site container */

.site-container{
margin:auto;
width:960px;
}
.site-container-large{
  margin: auto;
  width:960px;
}
/* logo section */

.logo-banner{
width: 100%;
height: auto;
background-color: black;
color: white;
}
.logo-title{
  width:100%;
  display: inline-flex;
  flex-direction: row;
  background-color: black;
  color: white;
  align-items: center;
}
.logo{
display: flex;
align-self: center;
height: 1.5rem;
width: auto;
padding-left: 0.5rem;
padding-right: 1rem;
}
.page-title h4{
  font-size: 1rem;
  font-family: helvetica;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* Main Banner section */
.banner-container{
  height: 25rem;
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-size: cover;
}
.banner-title{
  width: 25rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  align-content: center;
}
.banner-title h4{
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 2rem;
  padding-bottom: 0;
}
.banner-title h1{
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: .025rem;
  padding-bottom: 2rem;
}
.navigation-container{
  width: 100%;
  height: auto;
  background-color: firebrick;
}
.navigation ul{
  list-style: none;
  margin: 0;
  padding-top: 0.75rem;
  padding-left: 0;
  padding-bottom: 0.75rem;
  width: 100%;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
}
.navigation li a{
color: white;
font-family: helvetica;
font-size: 1rem;
font-weight: bold;
}

/* middle section */

/* product grid section */

.product{
  width: 100%;
  height: auto;
  margin-bottom: auto;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product h5{
  width:100%;
  font-style: helvetica;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pen{
  width: 30%;
  display: block;
  border: solid 4px;
}
.pen img{
  width: auto;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
}
.watch{
  width: 30%;
  display: block;
  border: solid 4px;
}
.watch img{
  width: auto;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 auto;
}
.glasses{
  width: 30%;
  display: block;
  border: solid 4px;
}
.glasses img{
  width: auto;
  height: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

/* bottom section */
.location-hours{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.location{
  width: 35%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.location-hours h5{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.hours{
  width: 35%;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.location-hours p{
margin-top: 0;
padding-bottom: 0;
}
.footer{
  height: 5rem;
  margin-top: 4rem;
  background-color: black;
  color: white;
  display: flex;
  align-content: center;
}
